html,
body {
  hight: 100%;
  width: 100%;
  font-family: "Trirong", serif;
}

header {
  position: sticky;
  top: 0;
  background: white;
  height: 55px;
  box-shadow: 4.7px 9.4px 9.4px hsl(0deg 0% 0% / 0.35);
}

img {
  margin-top: 10px;
}
.left img {
  width: 45px;
  height: 35px;
}
.item-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}
.container {
  padding: 0 10vw;
  margin: auto;
}

nav {
  margin-top: 12px;
}

nav ul li {
  padding: 0 20px;
  list-style: none;
}

.mx-2 {
  margin-left: 12px;
  margin-right: 12px;
}

.section1 {
  background-color: rgb(229, 229, 237);
  height: 122vh;
}

.search {
  width: 31vw;
  border-radius: 5px;
  padding: 2px;
  background: #a5141445;
}
